<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wang.jmonkey.cloud.modules.upms.mapper.SysDeptMapper">

    <resultMap id="BaseResultMap" type="com.wang.jmonkey.cloud.modules.upms.model.entity.SysDeptEntity">
        <id column="id" property="id" />
        <result column="parent_id" property="parentId" />
        <result column="name" property="name" />
        <result column="code" property="code" />
        <result column="sort" property="sort" />
        <result column="create_date" property="createDate" />
        <result column="create_by" property="createBy" />
        <result column="update_date" property="updateDate" />
        <result column="update_by" property="updateBy" />
        <result column="remark" property="remark" />
        <result column="delete_flag" property="deleteFlag" />
    </resultMap>

    <resultMap id="DtoResultMap" type="com.wang.jmonkey.cloud.modules.upms.model.dto.DeptDto" extends="BaseResultMap">
        <result column="parent_name" property="parentName" />
    </resultMap>

    <select id="selectDtoById" resultMap="DtoResultMap">
        SELECT
            dept.*, dept_p.`name` AS parent_name
        FROM sys_dept dept
        LEFT JOIN sys_dept dept_p ON dept.parent_id = dept_p.id AND dept_p.delete_flag = 'Used'
        WHERE dept.delete_flag = 'Used' AND dept.id = #{id}
    </select>

</mapper>
