<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wang.jmonkey.cloud.modules.upms.mapper.SysRoleMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wang.jmonkey.cloud.modules.upms.model.entity.SysRoleMenuEntity">
        <id column="id" property="id" />
        <result column="role_id" property="roleId" />
        <result column="menu_id" property="meunId" />
        <result column="create_date" property="createDate" />
        <result column="create_by" property="createBy" />
        <result column="update_date" property="updateDate" />
        <result column="update_by" property="updateBy" />
        <result column="remark" property="remark" />
        <result column="delete_flag" property="deleteFlag" />
    </resultMap>

    <resultMap id="MenuResultMap" type="com.wang.jmonkey.cloud.modules.upms.model.entity.SysMenuEntity">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="permission" property="permission" />
        <result column="path" property="path" />
        <result column="url" property="url" />
        <result column="method" property="method" />
        <result column="parent_id" property="parentId" />
        <result column="icon" property="icon" />
        <result column="component" property="component" />
        <result column="sort" property="sort" />
        <result column="type" property="type" />
        <result column="create_date" property="createDate" />
        <result column="create_by" property="createBy" />
        <result column="update_date" property="updateDate" />
        <result column="update_by" property="updateBy" />
        <result column="remark" property="remark" />
        <result column="delete_flag" property="deleteFlag" />
    </resultMap>

    <resultMap id="MenuVoResultMap" type="com.wang.jmonkey.cloud.common.model.vo.MenuVo" extends="MenuResultMap"></resultMap>

    <delete id="deleteAllByRoleId">
        DELETE FROM sys_role_menu WHERE role_id = #{roleId}
    </delete>

    <delete id="deleteAllByMenuId">
        DELETE FROM sys_role_menu WHERE menu_id = #{menuId}
    </delete>

    <select id="findMenuIdByRole" resultType="java.lang.String">
        SELECT menu_id FROM sys_role_menu WHERE role_id = #{roleId}
    </select>

    <select id="findMenuVoByRoleCode" resultMap="MenuVoResultMap">
        SELECT m.*
        FROM sys_menu m
        LEFT JOIN sys_role_menu rm ON rm.menu_id = m.id AND rm.delete_flag = 'Used'
        LEFT JOIN sys_role r ON r.id = rm.role_id AND r.delete_flag = 'Used'
        WHERE m.delete_flag = 'Used' AND r.code = #{roleCode}
    </select>

</mapper>
