<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wang.jmonkey.cloud.modules.upms.mapper.SysUserDeptMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wang.jmonkey.cloud.modules.upms.model.entity.SysUserDeptEntity">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="dept_id" property="deptId" />
        <result column="create_date" property="createDate" />
        <result column="create_by" property="createBy" />
        <result column="update_date" property="updateDate" />
        <result column="update_by" property="updateBy" />
        <result column="remark" property="remark" />
        <result column="delete_flag" property="deleteFlag" />
    </resultMap>

    <resultMap id="DeptResultMap" type="com.wang.jmonkey.cloud.modules.upms.model.entity.SysDeptEntity">
        <id column="id" property="id" />
        <result column="parent_id" property="parentId" />
        <result column="name" property="name" />
        <result column="code" property="code" />
        <result column="sort" property="sort" />
        <result column="create_date" property="createDate" />
        <result column="create_by" property="createBy" />
        <result column="update_date" property="updateDate" />
        <result column="update_by" property="updateBy" />
        <result column="remark" property="remark" />
        <result column="delete_flag" property="deleteFlag" />
    </resultMap>

    <delete id="deleteAllByUserId">
        DELETE FROM sys_user_dept WHERE user_id = #{userId}
    </delete>

    <delete id="deleteAllByDeptId">
        DELETE FROM sys_user_dept WHERE dept_id = #{deptId}
    </delete>

    <select id="findDeptByUserId" resultMap="DeptResultMap">
        SELECT d.*
        FROM sys_user_dept ud
        LEFT JOIN sys_dept d ON ud.dept_id = d.id AND d.delete_flag = 'Used'
        WHERE ud.delete_flag = 'Used'
        AND ud.user_id = #{userId}
    </select>

</mapper>
