<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wang.jmonkey.cloud.modules.upms.mapper.SysUserRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wang.jmonkey.cloud.modules.upms.model.entity.SysUserRoleEntity">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="role_id" property="roleId" />
        <result column="create_date" property="createDate" />
        <result column="create_by" property="createBy" />
        <result column="update_date" property="updateDate" />
        <result column="update_by" property="updateBy" />
        <result column="remark" property="remark" />
        <result column="delete_flag" property="deleteFlag" />
    </resultMap>

    <select id="findRoleIdByUserId" resultType="java.lang.String">
        SELECT role_id
        FROM sys_user_role
        WHERE user_id = #{userId} AND delete_flag = 'Used'
    </select>

    <select id="findUserIdByRoleId" resultType="java.lang.String">
        SELECT user_id
        FROM sys_user_role
        WHERE role_id = #{roleId} AND delete_flag = 'Used'
    </select>

    <delete id="deleteAllByUserId">
        DELETE FROM sys_user_role WHERE user_id = #{userId}
    </delete>

    <delete id="deleteAllByRoleId">
        DELETE FROM sys_user_role WHERE role_id = #{roleId}
    </delete>

    <select id="findRoleByUserId" resultType="com.wang.jmonkey.cloud.modules.upms.model.entity.SysRoleEntity">
        SELECT r.*
        FROM sys_user_role ur
        LEFT JOIN sys_role r ON ur.role_id = r.id AND r.delete_flag = 'Used'
        WHERE ur.user_id = #{userId}
    </select>

</mapper>
