<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wang.jmonkey.cloud.modules.upms.mapper.SysUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wang.jmonkey.cloud.modules.upms.model.entity.SysUserEntity">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="salt" property="salt" />
        <result column="real_name" property="realName" />
        <result column="phone" property="phone" />
        <result column="sex" property="sex" />
        <result column="photo" property="photo" />
        <result column="birthday" property="birthday" />
        <result column="create_date" property="createDate" />
        <result column="create_by" property="createBy" />
        <result column="update_date" property="updateDate" />
        <result column="update_by" property="updateBy" />
        <result column="remark" property="remark" />
        <result column="delete_flag" property="deleteFlag" />
    </resultMap>

    <resultMap id="UserVOResultMap" type="com.wang.jmonkey.cloud.common.model.vo.UserVo" extends="BaseResultMap">
        <collection property="roleList" ofType="com.wang.jmonkey.cloud.common.model.vo.RoleVo">
            <id column="role_id" property="id" />
            <result column="role_name" property="name" />
            <result column="role_code" property="code" />
        </collection>
    </resultMap>

    <resultMap id="UserDTOResultMap" type="com.wang.jmonkey.cloud.modules.upms.model.dto.UserDto" extends="BaseResultMap">
        <collection property="roleIdList" ofType="java.lang.String">
            <result column="role_id" />
        </collection>
        <collection property="deptIdList" ofType="java.lang.String">
            <result column="dept_id" />
        </collection>
        <collection property="roleList" ofType="com.wang.jmonkey.cloud.modules.upms.model.entity.SysRoleEntity">
            <id column="role_id" property="id" />
            <result column="role_name" property="name" />
            <result column="role_code" property="code" />
        </collection>
        <collection property="deptList" ofType="com.wang.jmonkey.cloud.modules.upms.model.entity.SysDeptEntity">
            <id column="dept_id" property="id" />
            <result column="dept_name" property="name" />
            <result column="dept_code" property="code" />
        </collection>
    </resultMap>

    <select id="checkUserName" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM sys_user
        WHERE delete_flag = 'Used'
        AND username = #{username}
        <if test=" id != '' and id != null">
            AND id != #{id}
        </if>
    </select>

    <select id="findUserVoByUsername" resultMap="UserVOResultMap">
        SELECT
          u.*,
          r.id AS role_id, r.name AS role_name, r.code AS role_code
        FROM sys_user u
        LEFT JOIN sys_user_role ur ON ur.user_id = u.id AND ur.delete_flag = 'Used'
        LEFT JOIN sys_role r ON r.id = ur.role_id AND r.delete_flag = 'Used'
        WHERE u.delete_flag = 'Used'
        AND u.username = #{username}
    </select>

    <select id="selectAll" resultMap="UserDTOResultMap">
        SELECT
            u.*,
            r.id AS role_id, r.name AS role_name, r.code AS role_code,
            d.id AS dept_id, d.name AS dept_name, d.code AS dept_code
        FROM sys_user u
        LEFT JOIN sys_user_role ur ON ur.user_id = u.id AND ur.delete_flag = 'Used'
        LEFT JOIN sys_role r ON r.id = ur.role_id AND r.delete_flag = 'Used'
        LEFT JOIN sys_user_dept ud ON ud.user_id = u.id AND ud.delete_flag = 'Used'
        LEFT JOIN sys_dept d ON d.id = ud.dept_id AND d.delete_flag = 'Used'
        WHERE u.delete_flag = 'Used'
    </select>

    <select id="findDtoById" resultMap="UserDTOResultMap">
        SELECT
            u.*,
            r.id AS role_id, r.name AS role_name, r.code AS role_code,
            d.id AS dept_id, d.name AS dept_name, d.code AS dept_code
        FROM sys_user u
        LEFT JOIN sys_user_role ur ON ur.user_id = u.id AND ur.delete_flag = 'Used'
        LEFT JOIN sys_role r ON r.id = ur.role_id AND r.delete_flag = 'Used'
        LEFT JOIN sys_user_dept ud ON ud.user_id = u.id AND ud.delete_flag = 'Used'
        LEFT JOIN sys_dept d ON d.id = ud.dept_id AND d.delete_flag = 'Used'
        WHERE u.delete_flag = 'Used'
        AND u.id = #{userId}
    </select>

    <select id="selectPageData" resultMap="UserDTOResultMap">
        SELECT
            u.*,
            r.id AS role_id, r.name AS role_name, r.code AS role_code,
            d.id AS dept_id, d.name AS dept_name, d.code AS dept_code
        FROM sys_user u
        LEFT JOIN sys_user_role ur ON ur.user_id = u.id AND ur.delete_flag = 'Used'
        LEFT JOIN sys_role r ON r.id = ur.role_id AND r.delete_flag = 'Used'
        LEFT JOIN sys_user_dept ud ON ud.user_id = u.id AND ud.delete_flag = 'Used'
        LEFT JOIN sys_dept d ON d.id = ud.dept_id AND d.delete_flag = 'Used'
        WHERE u.delete_flag = 'Used'
        <if test=" username != '' and username != null">
            AND u.username like '%${username}%'
        </if>
        <if test=" roleId != '' and roleId != null">
            AND ur.role_id = #{roleId}
        </if>
        <if test=" deptId != '' and deptId != null">
            AND ud.dept_id = #{deptId}
        </if>
        ORDER BY create_date DESC
    </select>

</mapper>
